@page
@model ASP.NET_Website.Pages.FormModel
@{
	ViewData["Title"] = "Form";
}

<form class="text-center border">
	<br />
	<h1>Form</h1><br />
	<a>Name </a><input type="text" id="name"/><br /><br />
	<a>Surname </a><input type="text" id="surname" /><br /><br />
	<a>Birthday </a><input type="date" id="birthday"/><br /><br />
	<button onclick="">Kaydet</button><br /><br />
</form>
<div>

</div>

<script src="./js/site.js"></script>
