@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<body class="text-center">
    <h1 class="display-4" id="WC">Hoş Geldiniz</h1>
    <p>Bu proje Berkay Öner tarafından referans olarak kullanılmak amacıyla oluşturulmuştur.</p>
    <a asp-area="" onclick="TestAlert('Bu bir test mesajıdır.');">Test Alert</a>
</body>

<script src="~/js/site.js"></script>