<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ASP.NET Website</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/ASP.NET_Website.styles.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            <nav class="navbar">
                <a class="logo" asp-area="" asp-page="/Index">ASP.NET Website</a>
                <div class="navbar-buttons">
                    <a class="navbar-button" asp-area="" asp-page="/Index">Ana Sayfa</a>
                    <a class="navbar-button" asp-area="" asp-page="/Calculator">Hesap Makinesi</a>
                    <a class="navbar-button" asp-area="" asp-page="/Form">Form</a>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - ASP.NET Website - <a asp-area="" asp-page="/Privacy">Gizlilik Politikası</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

 <style>
     
 </style>